<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} :: {% endif %}Developers' Guild</title>

    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen, projection">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
</head>

<body>
  <header>
    <div class="ui menu">
      <a class="item" id="feed-btn">
        <i class="fa fa-bars"></i>
      </a>
      <div class="right text icon menu">
        <a class="item" id="live-btn">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </header>
    <div class="ui right vertical labeled icon sidebar menu" id="feed-menu">
        <a class="item">
            <i class="fa fa-home"></i>
            this is where the feed goes.
        </a>
        <a class="item">
            <i class="fa fa-tag"></i>
            this menu is a demo.
        </a>
        <a class="item">
            <i class="fa fa-smile-o"></i>
            Friends
        </a>
        <a class="item">
            <i class="fa fa-calendar"></i>
            History
        </a>
        <a class="item">
            <i class="fa fa-envelope-o"></i>
            Messages
        </a>
        <a class="item">
            <i class="fa fa-comment"></i>
            Discussions
        </a>
        <a class="item">
            <i class="fa fa-trophy"></i>
            Achievements
        </a>
        <a class="item">
            <i class="fa fa-cog"></i>
            Settings
        </a>
    </div>
    <div class="ui right vertical wide sidebar menu" id="add-menu">
        <div class="header item">
            Add Marker
        </div>
        <div class="item">
            <div class="ui input"><input type="text" placeholder="Also demo" style="width:90%;"></div>
        </div>
    </div>
    <div class="ui first coupled small modal">
        <div class="header">
          Modal #1
        </div>
        <div class="content">
          <div class="image">
            <i class="fa fa-arrow-right"></i>
          </div>
          <div class="description">
            <div class="ui form">
              <div class="field">
                  <label>Username</label>
                  <input placeholder="Username" type="text">
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password">
                </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="primary ui button">Proceed</div>
        </div>
      </div>
      <div class="ui small second coupled modal">
        <div class="header">
          Modal #2
        </div>
        <div class="content">
          <div class="description">
            <p>Message for user to indicate login success/fail.</p>
          </div>
        </div>
        <div class="actions">
          <div class="ui approve button">
            <i class="fa fa-check"></i>
            All Done
          </div>
        </div>
      </div>
    <div class="wrapper">
      <div id='mapbox-container'>
          <div id='map'></div>
      </div>
    </div>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/semantic.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/scripts.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
</body>
</html>
